<app-header
  [buttonText]="'Добавить API'"
  (buttonClick)="openCreateDialog()"
></app-header>
<app-filter-by-input
  [label]="'Search API'"
  [controlName]="'search'"
  [items]="apiNames"
  (searchQuery)="onSearchQuery($event)"
></app-filter-by-input>
<app-pagination
  class="custom-pagination"
  [totalItems]="filteredCards.length"
  [itemsPerPage]="itemsPerPage"
  [currentPage]="currentPage"
  (pageChange)="onPageChange($event)"
></app-pagination>
<div *ngIf="loading; else cardList">
  <app-loading></app-loading>
</div>
<ng-template #cardList>
  <div class="container">
    <div class="grid">
      <div *ngFor="let item of paginatedCards" class="card">
        <app-card-api
          [apiInfo]="item"
          (apiDeleted)="onApiDeleted(item.name)"
        ></app-card-api>
      </div>
    </div>
  </div>
  <app-pagination
    class="custom-pagination"
    *ngIf="!searchQueryActive"
    [totalItems]="filteredCards.length"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</ng-template>
