<app-header [buttonText]="'Добавить сущность'" (buttonClick)="openCreateDialog()" />
<div class="container">
  <div class="mb-40">
    <!-- Заголовок и описание -->
    <div class="header-section">
      <div class="top-right">
        <app-switch [value]="apiInfo.isActive"></app-switch>
      </div>
      <h1>{{ apiInfo.name }}</h1>
      <p>{{ apiInfo.description }}</p>
      <div class="actions">
        <button class="edit-button">Редактировать</button>
        <button class="delete-button">Удалить</button>
      </div>
    </div>
  </div>

  <!-- Сепаратор и заголовок "Сущности" -->
  <div class="separator-section">
    <h2>Сущности</h2>
    <hr class="separator" />
  </div>

  <!-- Список сущностей -->
  <div class="grid">
    <div *ngFor="let item of entities" tuiAppearance="floating" tuiCardLarge class="card">
      <app-card-entity [entityInfo]="item" [apiName]="apiInfo.name"></app-card-entity>
    </div>
  </div>
</div>