<h1>List Api</h1>
<div class="card-container">
    <div *ngFor="let item of cards" tuiAppearance="floating" tuiCardLarge>
        <h1 tuiTitle>
            {{ item }}
        </h1>
        <header tuiHeader>
                    <aside tuiAccessories>
                        <tui-avatar appearance="primary" src="@tui.star" />
                    </aside>
                </header>
                
                <header tuiHeader>
                    <span tuiSubtitle>Subtitle</span>
                </header>
                <footer>
                    <button appearance="secondary" size="m" tuiButton type="button">
                        <details>Details</details>
                    </button>
                </footer>
    </div>
</div>
