@if (apiInfo != null)
{
    <div class="card">
        <div class="card-content">
            <div class="card-header">
                <h1 tuiTitle>{{ apiInfo.name }}</h1>
                <p>{{ apiInfo.isActive }}</p>
            </div>
            <div class="card-body">
                <span tuiSubtitle>{{ apiInfo.description }}</span>
                <app-switch [value]="apiInfo.isActive" (toggle)="onToggleChange($event)"></app-switch>
            </div>
        </div>
        <div class="card-actions">
            <button tuiButton>редактировать</button>
            <button tuiButton (click)="navigateToApiDetails(apiInfo.name)">детали</button>
        </div>
    </div>
}
@else
{
    <div class="card">
        <div class="card-content">
            <div class="card-header">
                <h1 tuiTitle>Информации нет</h1>
            </div>
            <div class="card-body">
                <span tuiSubtitle>Объект не найден</span>
            </div>
        </div>
        <div class="card-actions">
            <button tuiButton>редактировать</button>
            <button tuiButton>детали</button>
        </div>
    </div>
}
