  
i {
    margin-right: 15px; /* 10px * 1.2 */
    cursor: pointer;
    color: #666;
    transition: color 0.3s;
    font-size: 20px; /* Увеличиваем размер шрифта на 20% */
}

i:hover {
    color: #000;
}