.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 50px auto;
}

h1 {
  margin: 0;
  font-size: 36px;
  color: #d9534f; /* Цвет для заголовка ошибки */
}

h3 {
  margin: 0;
  font-size: 24px;
  color: #0056a6;
  width: 65%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 2rem;
}

p {
  margin: 10px 0;
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  height: calc(1.5em * 2);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  word-wrap: break-word;
  white-space: normal;
}

.primary-button {
  background-color: #0056a6;
  color: white;
  border: 2px solid #0056a6; /* Добавлена граница */
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s, border-color 0.3s; /* Добавлено изменение цвета границы */
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.primary-button:hover {
  background-color: #004080;
  border-color: #003366; /* Изменение цвета границы при наведении */
  transform: scale(1.05); /* Увеличение кнопки при наведении */
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

/* Стилизация полосы прокрутки для WebKit-браузеров */
p::-webkit-scrollbar {
  width: 8px;
}

p::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

p::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

p::-webkit-scrollbar-thumb:hover {
  background: #555;
}
