.brand-name {
    display: flex;
    justify-content: center; 
}

.logo-container {
    display: inline-block; /* Див будет занимать только необходимое пространство */
    width: 50vw; /* Ширина 50% от ширины окна */
    max-height: 25vh; /* Максимальная высота 25% от высоты окна */
}

.brand-name img {
    width: 100%; /* Изображение займет всю ширину контейнера */
    height: auto; /* Высота автоматически подстраивается */
    object-fit: contain; /* Содержимое масштабируется, сохраняя пропорции */
}
