<div class="card-container">
    <div *ngFor="let item of entity" tuiAppearance="floating" tuiCardLarge class="card">
      <div class="card-content">
        <div class="card-header">
          <h1 tuiTitle>{{ item.name }}</h1>
        </div>
        <app-switch-second-page></app-switch-second-page>
      </div>
      <div class="">
      
      <button tuiButton>редактировать</button>
      <button tuiButton>детали</button>
      <button tuiButton>удалить</button>
      </div>
    </div>
  </div>
  
  