<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="cc">
        <div class="container">
            <h1>Ой!🙈🍌</h1>
            <h1>Страница не найдена</h1>
            <img src="https://static.wikia.nocookie.net/c6d90d96-4340-40e3-98cb-28f6c17b0280/scale-to-width/755"
                alt="404 Image">
            <button tuiButton routerLink="/">На главную</button>
        </div>
    </div>
</body>

</html>