<div class="card-container">
    <div *ngFor="let item of entity" tuiCardLarge class="card">
        <div class="card-content">
            <div class="card-header">
                <h1 tuiTitle>{{ item.name }}</h1>
            </div>
            <app-switch></app-switch>
        </div>
        <div class="card-actions">
            <button tuiButton>редактировать</button>
            <button tuiButton>детали</button>
            <div>
                <app-icon-trash [item]="item"></app-icon-trash> <!-- Передаем данные карточки -->
            </div>
        </div>
    </div>
</div>
