<app-header/>
<!-- @if (loading)
{
<app-loading></app-loading>
}
@else
{ -->
<div class="endpoint-list">
    <h1>{{ apiName }}</h1>
    <tui-accordion tuiAppearance="floating">
      <ng-container *ngFor="let entity of entities">
        <button tuiAccordion>{{ entity.name }}</button>
        <tui-expand>
          <ul>
            <li *ngFor="let endpoint of entity.actions">
              <span>{{ endpoint.route }}</span>
              <button tuiButton tuiAppearance="floating" (click)="copyToClipboard(entity.name, endpoint)">Копировать URL</button>
            </li>
          </ul>
        </tui-expand>
      </ng-container>
    </tui-accordion>
</div>
<!-- } -->