<app-header />
@if (loading) {
<app-loading></app-loading>
} @else {
<div class="endpoint-list">
  <h1>{{ apiName }}</h1>
  <ng-container *ngIf="entities.length > 0; else noEntities">
    <tui-accordion tuiAppearance="floating" [closeOthers]="false">
      <ng-container *ngFor="let entity of entities">
        <button tuiAccordion class="accordion">{{ entity.name }}</button>
        <tui-expand>
          <ng-container *ngIf="entity?.endpoints && entity.endpoints.length > 0; else emptyEntityOrApi">
            <ul>
              <li *ngFor="let endpoint of entity.endpoints" class="endpoint-item">
                <div class="endpoint-header">
                  <div class="endpoint-route">{{ endpoint.route }}</div>
                  <div class="endpoint-type">{{ endpoint.type }}</div>
                </div>
                <div class="url-container">
                  <div class="copy-url-field">
                    <input
                      type="text"
                      readonly
                      [value]="getUrl(entity.name, endpoint)"
                      class="url-input"
                      #urlInput
                    />
                    <button
                      tuiButton
                      tuiAppearance="flat"
                      (click)="copyToClipboard(entity.name, endpoint)"
                      class="copy-button"
                      [class.copied]="isCopied === getUrl(entity.name, endpoint)"
                    >
                      <i
                        class="fas"
                        [ngClass]="{
                          'fa-clone': isCopied !== getUrl(entity.name, endpoint),
                          'fa-check': isCopied === getUrl(entity.name, endpoint)
                        }"
                      ></i>
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </ng-container>
          <ng-template #emptyEntityOrApi>
            <ng-container *ngIf="entity?.endpoints?.length === 0; else noendpoints">
              <p>Нет доступных эндпоинтов.</p>
              <button class="primary-button" tuiButton tuiAppearance="floating"
                routerLink="/ApiEntity/{{apiName}}/{{entity.name}}">Перейти к деталям сущности</button>
            </ng-container>
            <ng-template #noendpoints>
              <button class="primary-button" tuiButton tuiAppearance="floating"
                routerLink="/ApiDetails/{{apiName}}">Перейти к деталям API</button>
            </ng-template>
          </ng-template>
        </tui-expand>
      </ng-container>
    </tui-accordion>
  </ng-container>
  <ng-template #noEntities>
    <p>Нет доступных сущностей и эндпоинтов</p>
  </ng-template>
</div>
}