h3 {
    margin: 0;
    font-size: 24px;
    color: #0056a6;
    width: 70%; /* Ширина элемента */
    text-overflow: ellipsis; /* Добавляем троеточие */
    white-space: nowrap; /* Запрещаем перенос текста на новую строку */
    overflow: hidden; /* Скрываем текст, который не помещается */
}
  
.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
.actions button {
    background-color: #0056a6;
    color: white;
    border: none;
    block-size: auto;
    padding: 7px 13px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
.actions button:hover {
    background-color: #004080;
  }
  
.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
  }
  
.top-right i {
    margin-right: 10px;
    cursor: pointer;
    color: #666;
    transition: color 0.3s;
  }
  
.top-right i:hover {
    color: #000;
  }