<app-header [buttonText]="'Добавить эндпоинт'" (buttonClick)="openCreateDialog()" />
<div class="container">
    <div class="mb-40">
        <!-- Заголовок и описание -->
        <div class="header-section">
            <div class="top-right">
                <app-switch [value]="entityInfo.isActive" (toggle)="onToggleChange($event)"></app-switch>
            </div>
            <h1>{{entityInfo.name}}</h1>
            <!-- <app-card-entity [apiName]="apiName", [entityInfo]="entityInfo"></app-card-entity> -->
        </div>
    </div>

    <!-- Сепаратор и заголовок "Сущности" -->
    <div class="separator-section">
        <h2>Эндпоинты</h2>
        <hr class="separator" />
    </div>

    <div class="grid">
        <div *ngFor="let endpoint of endpoints" tuiAppearance="floating" tuiCardLarge class="card">
            <app-card-endpoint [entityInfo]="entityInfo" [endpointInfo]="endpoint" [apiName]="apiName"
                (endpointDeleted)="onEndpointDeleted(endpoint.route)"></app-card-endpoint>
        </div>
    </div>
</div>
