<app-header [buttonText]="'Добавить эндпоинт'" (buttonClick)="openCreateDialog()" />
<div class="container">
    <div class="mb-40">
        <!-- Заголовок и описание -->
        <div class="header-section">
            <div class="top-right">
                <app-switch></app-switch>
            </div>
            <h1>ИМЯ СУЩНОСТИ</h1>
            <div class="actions">
                <button class="edit-button">Редактировать</button>
                <button class="delete-button">Удалить</button>
            </div>
        </div>
    </div>

    <!-- Сепаратор и заголовок "Сущности" -->
    <div class="separator-section">
        <h2>Эндпоинты</h2>
        <hr class="separator" />
    </div>

    <div class="grid">
        <div *ngFor="let action of actions" tuiAppearance="floating" tuiCardLarge class="card">
            <app-card-endpoint [apiInfo]="apiInfo" [entityInfo]="entityInfo" [actionInfo]="action"
                [apiName]="apiName"></app-card-endpoint>
        </div>
    </div>
</div>